html {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB","Microsoft YaHei","微软雅黑", Arial, sans-serif;
}

.code-snippet {
  font-family: monospace;
  padding: 15px;
  color: #333;
  background: #f6f6f6;
  border-radius: 8px;
}
