html {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB","Microsoft YaHei","微软雅黑", Arial, sans-serif;
}

.layout__header {
  padding: 12px 20px;
  border-bottom: 1px solid #ccc;
}

.layout__main {
  padding: 40px 15px 100px;
  max-width: 900px;
  margin: 0 auto;
}

.header__link {
  display: inline-block;
  color: #333;
  padding: 10px;
}

.header__link.router-link-exact-active {
  color: red;
}

.problem {
  margin-bottom: 35px;
}

.problem__title {
  font-weight: bold;
  margin-bottom: 8px;
}

.problem__points {
  color: limegreen;
  font-weight: normal;
}

.problem__description {
  color: #444;
}

/***************/
/* TEAM STYLES */
/***************/

.team {
  margin-bottom: 30px;
}

.team__name {
  font-weight: bold;
  margin-bottom: 8px;
}

.solution {
  margin: 20px 20px;
  border-left: 1px solid #ccc;
  padding-left: 15px;
}

.solution__title {
  margin-bottom: 15px;
}

.solution__code {
  font-family: monospace;
  padding: 15px;
  color: #333;
  background: #f6f6f6;
  border-radius: 8px;
}

.solution__code + .solution__code {
  margin-top: 15px;
}

/*******************/
/* TIMELINE STYLES */
/*******************/

.event {
  position: relative;
  padding: 0px 20px 30px;
  max-width: 800px;
  color: #555;
}

.event::before {
  content: '';
  position: absolute;
  left: -0.5px;
  bottom: 0;
  top: 0;
  width: 1px;
  background: #ccc;
}

.event:first-child::before {
  /* top: 50%; */
}

.event:last-child::before {
  display: none;
}

.event::after {
  content: '';
  position: absolute;
  left: 0px;
  top: 0%;
  transform: translate(-50%, -50%);
  height: 8px;
  width: 8px;
  background: #fff;
  border: 2px solid limegreen;
  border-radius: 50%;
}

.event:first-child::after {
  background: limegreen;
}

.event__timestamp {
  position: absolute;
  top: 0;
  right: 100%;
  text-align: right;
  padding: 0 12px;
  font-size: 12px;
  color: #aaa;
  white-space: nowrap;
}

.event__heading {
  font-weight: bold;
  margin-bottom: 15px;
}

/* CONSOLE */
.console {
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  background: #eeffcc;
  border-radius: 8px;
  padding: 20px;
  overflow: auto;
  margin: 10px 0;
}
